.container {
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 100%;
    align-items: center;
    grid-template-rows: max-content auto max-content;
    /* overflow: auto; */
}
span{color: red;}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.billet-box {display: grid;grid-template-columns: repeat(4, 1fr);align-items: start;gap: 10px;}

ul.billet {
    background: grey;
    padding: 15px;
    width: 200px;
    height: auto;
}
.nav-ul{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.nav-ul a{
    color: black;
}
.title {color: white;margin-bottom: 20px;}